* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat-Regular;
    



}

.icon{

    width: 25px;
    height: 20px;
    opacity: 0.6;
}

header{

    width: 70%;
    height: 100px;
    margin: auto;
    border: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}






main {

    border: 5px solid blue;
    width: 70%;
    margin: auto;


}



main > div {

    border: 5px solid red;
    display: flex;
    flex-wrap: wrap-reverse;


}

main > div > div{
    width: 50%;
    

}

.container_r {
    
    display: flex;
    flex-direction: column;
    


}

.container_r_up {

    border: 5px solid red;
    display: flex;
    flex-direction: row;
    

}

.container_r_up img {

    border-radius: 20px;
    height: 70%;
}

.container_r_up_r {
    background-color: chartreuse;
    border: 5px solid burlywood;
    display: flex;
    /* flex-direction: column; */
    
}

.container_r_up_r >* {

    border: 2px solid black;
    align-content: stretch;
}



footer{
    
    height: 100px;
    margin: auto;
    border: 5px solid red;
    text-align: center;
    text-justify: auto;
    


}

@media (max-width: 600px) {
    main > div > div{
        width: 100%;
    
    
    
    }

}






