main {
    background-color: rgba(0,0,0,0.6)};
    
    
    
    
}

article.ktrl2 { color: rgba(255,255,255, 0.8);
    background-color: rgba(0,0,0,0.6);
    
}
    
article[h2] { color: rgba(255,255,255, 1);}

article.ktrl3 { color: rgba(255,255,255, 1);
background-color: rgba(0,0,0,0.8);


   

}

/* article[form] { padding: 30px 50px;} */